button{
    width: 100%;
    min-height: 40px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: transparent;
    border: 1px var(--text-color) solid;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #FFFFFF22;
}

button:active{
    background-color: #00000022;
}