.main-container {
    display: flex;
    height: 100vh; /* Set height to fill the viewport */
    background-color: var(--primary-color);
    justify-content: right;
  }
  
  .main-content {
    flex: 0.66; /* Make the main content take up the remaining width */
    padding: var(--padding);
    box-sizing: border-box;
  }