#MainContainer {
  display: grid;
  margin: 0;
  height: 100vh;
  background-color: var(--primary-color);
  grid-template-columns: 1fr 2fr;
}
  
#ListView {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: var(--padding);
  box-sizing: border-box;
}