#EmptyMainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#EmptyMainContent > * {
    margin: 2px;
    color: var(--secondary-color)
}