button{
    width: 100%;
    height: 40px;
    font-size: large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: transparent;
    border: 2px var(--text-color) solid;
    border-radius: var(--border-radius);
    margin-top: 5px;
    cursor: pointer;
}

button:hover{
    background-color: var(--low-alpha-white);
}

button:active{
    background-color: var(--low-alpha-black);
}