#ListItemContainer {
    display: flex;
    justify-content: space-between;
}

#ListItemContainer * {
    margin-right: 10px;
}

#ListItemContainer :last-child {
    margin-right: 0px;
}

#StarContainer {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}