:root{
  --primary-color: #8F8FAF;
  --secondary-color: #2F2F4F;
  --accent-color: #CF5F5F;
  --text-color: #FFFFFF;

  --low-alpha-white: #FFFFFF22;
  --low-alpha-black: #00000022;

  --padding: 15px;
  --border-radius: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
