#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: var(--padding);
    box-sizing: border-box;
}

#SideBarTitle:hover {
    cursor: pointer;
}

#AddListButton {
    margin-top: auto;
}
  